@use "./utils/index" as *;
@use "./components/index" as *;

* {
   padding: 0;
   margin: 0;
   border: none;
   box-sizing: border-box;
   font-family: $fontePrincipal;
}

html {
   font-size: 62.5%;
}

html, body {
   width: 100%;
   min-height: 100%;
}

button {
   cursor: pointer;
   background-color: transparent;
}

main.main-padrao--escondido {
   display: none;
}

main.main-pesquisa {
   display: none;
   height: 60rem;

   p {
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
      margin: 0 .8rem;
   }
}

main.main-pesquisa--ativo {
   @include flex(center, center);
}