@use "./utils/variables" as *;
@use "./components/header";

* {
   padding: 0;
   margin: 0;
   border: none;
   box-sizing: border-box;
   font-family: $fontePrincipal;
}

html {
   font-size: 62.5%;
}

html, body {
   width: 100%;
   min-height: 100%;
}