@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

$azul: #005CFF;
$ciano: #5EC0BE;
$azulEscuro: #00264E;

$cinzaClaro: #F5F5F5;
$cinzaMedio: #E7E7EA;
$cinzaEscuro: #DEDEDE;
$cinzaMuitoEscuro: #C2C2C2;

$roxo: #6220C1;

$fontePrincipal: "Nunito Sans", sans-serif;
 