@use "../utils/index" as *;

.main__banner1 {
   padding: 0 $paddingPadrao;
   margin-bottom: 6rem;

   @include flex(center, center);
   gap: 4rem;

   @include tablet-down {
      padding: 0 $paddingPadraoTablet;
      flex-direction: column;
   }

   img {
      width: 50%;

      @include tablet-down {
         width: 100%;
      }
   }

   .banner1__info-area {
      flex: 1;

      h2 {
         font-size: 2.5vw;

         @include tablet-down {
            font-size: calc(2.5vw + 1rem);
         }
      }

      p {
         margin-top: 3rem;
         font-size: 1.2vw;

         @include tablet-down {
            font-size: calc(1.2vw + 1rem);
         }
      }
   }
}