@use "../utils/index" as *;

.main__banner-carroussel {
   width: 100%;

   .banner-carroussel__slide {
      width: 100%;
      height: calc(15rem + 15vw);
      background-color: #E7E7EA;

      @include flex(center, center);

      @include small-smartphone-down {
         // height: calc(25rem + 5vw);
         height: calc(15rem + 15vw);
         justify-content: flex-start;
         // gap: 2rem;
         gap: 10vw;
      }

      .banner-carroussel__cadeira-desktop-img {
         height: 100%;

         @include small-smartphone-down {
            display: none;
         }
      }

      .banner-carroussel__cadeira-mobile-img {
         height: 100%;
         display: none;

         @include small-smartphone-down {
            display: block;
         }
      }
// 
      .banner-carroussel__texto-desktop-img {
         width: calc(17rem + 15vw);

         @include tablet-down {
            display: none;
         }
      }

      .banner-carroussel__texto-mobile-img {
         display: none;
         height: 65%;

         @include tablet-down {
            display: block;
         }
      }

   }
}