@use "../utils/index" as *;

header {

   .header__promocional {
      background-color: $azul;
      padding: 1rem 2rem;

      @include flex(center, center);

      p {
         color: #FFF;
         font-size: 14px;
         font-weight: 600;
         text-align: center;
         line-height: 2.4rem;

         .promocional__valor {
            background-color: $roxo;
            padding: .2rem .4rem;
            border-radius: .4rem;
            font-size: 1.2rem;
         }

         .promocional__codigo {
            font-weight: 300;

         }
      }
   }

   .header__search-area {
      width: 100%;
      padding: 0 $paddingPadrao;

      @include desktop-abaixo {
         padding: 0 $paddingPadraoTablet;
      }

      .search-area__primeira-linha {
         width: 100%;
         padding: 2rem 0;

         @include flex(space-between, center);
         gap: 6rem;

         .search-area__mobile-hamburguer-btn {
            display: none;
            padding: 0 .5rem 0 .2rem;

            @include tablet-down {
               display: block;
            }

            img {
               height: 2.5rem;
            }
         }

         .search-area__logo-search-area {
            flex: 1;

            @include flex(flex-start, center);
            gap: 5rem;

            @include tablet-down {
               flex: unset;
            }

            .logo-search-area__logo {
               width: 12rem;

               @include desktop-abaixo {
                  width: 9.5rem;
               }

               @include tablet-down {
                  width: 15rem;
               }
            }

            .logo-search-area__search-bar {
               border: 1px solid #DDDDDD;
               border-radius: .6rem;
               padding: .8rem 1.6rem;
               flex: 1;
               max-width: 50rem;

               @include flex(center, center);

               @include desktop-abaixo {
                  max-width: unset;
               }

               @include tablet-down {
                  display: none;
               }

               input {
                  flex: 1;
                  outline: none;
               }

               input::placeholder {
                  color: #000;
                  font-weight: 700;
               }

               button {

                  img {
                     height: 1.8rem;
                     margin-bottom: -.4rem;
                  }
               }
            }
         }

         .search-area__user-area {
            cursor: pointer;

            @include flex(center, center);
            gap: 3rem;

            .user-area__user-block {
               @include flex(center, center);
               gap: 1rem;

               img {
                  height: 2.8rem;

                  @include desktop-abaixo {
                     height: 2.4rem;
                  }
               }

               @include tablet-down {
                  display: none;
               }

               .user-block__text {

                  p {
                     line-height: 1.6rem;
                     font-size: 1.4rem;
                     font-weight: 600;

                     @include desktop-abaixo {
                        line-height: 1.4rem;
                        font-size: 1.3rem;
                     }
                  }
               }
            }

            .user-area__cart-wrapper {
               position: relative;

               img {
                  height: 2.8rem;

                  @include desktop-abaixo {
                     height: 2.4rem;
                  }
               }

               .cart-wrapper__notification {
                  position: absolute;
                  top: -.8rem;
                  right: -.9rem;
                  background-color: $azul;
                  color: #FFF;
                  width: 2rem;
                  height: 2rem;
                  border-radius: 50%;
                  font-size: 1.1rem;
                  font-weight: 700;

                  @include flex(center, center);

                  @include desktop-abaixo {
                     font-size: 1.1rem;
                     width: 1.8rem;
                     height: 1.8rem;
                     top: -.7rem;
                     right: -.8rem;
                  }
               }
            }
         }
      }
   }
}